body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contenido-principal {
    padding: 0.2rem 2rem 2rem;
}

main {
    flex-grow: 1;
}

.cabezera {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

.cabezera-imagen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.cabezera img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: 0.9rem;

}

.contenido-principal h1 {
    text-align: center;
}

.contenedor-tarjetas-productos {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.tarjeta {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    align-items: center;
    align-content: center;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0.8px 16px rgba(0, 0, 0, 0.2);
}

.tarjeta img {
    max-width: 75%;
    border-radius: 10px;
}

.tarjeta  h2 {
    color: #333;
}

.tarjeta .dercripcion-producto {
    color: #777;
}

.tarjeta .precio {
    font-size: 1.25rem;
    color: #E74C3C;
}