table {
    border: 3px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: black;
    color: white;
    text-transform: uppercase;
}

td {
    text-align: center;
    color: #333;
    font-size:  18px;
    border-bottom: 2px solid #111;
}